.utility-bar {
  /*background: rgba(0, 0, 0, 0.8);*/
  /*backdrop-filter: blur(12px);*/
  /*border-bottom: 1px solid rgba(168, 85, 247, 0.3);*/
  padding: 1rem 1rem;
  width: 100%;
  margin-bottom: 1em;
  /*border: 1px solid #ffffff;
  border-radius: 10rem;*/
}

.utility-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

.utility-bar-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.utility-bar-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.logo {
  width: 60px;
  height: 60px;
}
