.app-container {
  min-height: 100vh;
  background: linear-gradient(90deg, #1A162F 0%, #22125F 50%, #1A162F 100%);
  display: flex;
  flex-direction: column; /* Add this line */
  /*align-items: center;
  justify-content: center;*/
  padding: 1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  width: 100%;
  max-width: 2000px;
}

.dashboard > *:first-child {
  max-width: 300px;
}

.dashboard > *:nth-child(2) {
  flex: 1;
  min-width: 600px;
}

@media (max-width: 1600px) {
  .header,
  .fear-header {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 0.5rem;
  }

  .player-stats,
  .fear-tracker {
    padding: 0;
  }

  .fear-content {
    margin: 4px 1rem 1rem 1rem;
  }

  .players-container-scrollable {
    padding: 4px 1rem 1rem 1rem;
  }

  .players-container {
    grid-template-columns: 1fr;
    padding: 2px;
  }
}

@media (max-width: 1024px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
  }
  .dashboard > *:first-child,
  .dashboard > *:nth-child(2) {
    flex: none;
    width: 100%;
    max-width: 600px;
    align-self: auto; /* Reset alignment for mobile */
  }
}
