.level-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid  #E7C74B;
  border-radius: 0.50rem;
  padding: 0.4rem;
  align-self: stretch;

  /*padding-bottom: 1rem;*/
  position: relative;
  /*margin-bottom: 0.5rem;*/
}

.level-input {
  background: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  /*max-width: 60px;*/
}

.level-input:focus {
  outline: none;
}

.level-input::-webkit-outer-spin-button,
.level-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.level-input[type=number] {
  -moz-appearance: textfield;
}

.level-label {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  background: #E7C74B;
  padding: 0.1rem 0.2rem;
  border-radius: 0.25rem;
  border: 2px solid 0cqh #FDF691;
  transition: all 0.3s ease;
}
